[submodule "bspline_lerobot"]
	path = bspline_lerobot
	url = https://github.com/zademahi238/mimosa.git
[submodule "leflexitac"]
	path = leflexitac
	url = https://github.com/TNA001-AI/lerobot_tactile.git
