[submodule "bsp"]
	path = bsp
	url = https://github.com/thibauts/b-spline.git
[submodule "flexitac"]
	path = flexitac
	url = https://github.com/FlexiTac/FlexiTac_Hardware_Repo.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
